﻿@model BO.Arme

<hr />
<dl class="dl-horizontal">

    <dt>
        @Html.DisplayNameFor(model => model.Nom)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Nom)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Degats)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Degats)
    </dd>

</dl>

