﻿@model BO.Arme

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer une Arme</h2>

<div>

    @Html.Partial("_ArmeDetailsDelete", Model)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <!-- Gestion de l'appartenance actuelle de l'Arme-->
        <!-- Todo > Refact pour StatusArme = utilise/libre => disable/enable -->
        if (ViewBag.Samourais != null)
        {

            foreach (var samourai in ViewBag.Samourais)
            {
                <h4> Cette Arme est utilisée par le Samouraï <b>@samourai</b></h4>
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger disabled" />
                </div>
            }
        }
        else
        {
            <h4> Cette Arme est utilisée par aucun Samouraï </h4>
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        }
    }

    <br />
    <div>
        @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-info" })
    </div>
    
</div>

