﻿@model BO.Arme

@{
    ViewBag.Title = "Details";
}

<h2>Details Arme</h2>

<div>
    @Html.Partial("_ArmeDetailsDelete", Model)
</div>

<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("retour", "Index", null, new { @class = "btn btn-default" })
</p>
