﻿@model BO.ArtMartial

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer Art Martial</h2>

<h3>Vous êtes certain de vouloir supprimer cet Art Martial ?</h3>

<div>
    <h4>ArtMartial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
