﻿@model BO.ArtMartial

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArtMartial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("retour", "Index", null, new { @class = "btn btn-default" })
</p>
