﻿@model BO.Samourai

<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Force)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Force)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Nom)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Nom)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Arme)
    </dt>

    <dd>
        @if (Model.Arme != null)
        {
            @Html.DisplayFor(model => model.Arme.Nom);
        }
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ArtMartials)
    </dt>

    <dd>
        @if (Model.ArtMartials != null)
        {
            foreach (var artMartial in Model.ArtMartials)
            {
                @Html.DisplayFor(m => artMartial.Nom) <br />
            }
        }
    </dd>

    <dt>
        Potentiel
    </dt>

    <dd>
        @ViewBag.Potentiel
    </dd>

</dl>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
