﻿@model BO.Samourai

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer Samouraï</h2>

<h3>Vous êtes certain de vouloir supprimer ce Samouraï ?</h3>

<div>
    @Html.Partial("_SamouraiDetailsDelete", Model)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
