﻿@model IEnumerable<BO.Samourai>

@{
    ViewBag.Title = "Index";
}

<h2>Liste de Samouraïs</h2>

<p>
    @Html.ActionLink("Créer un nouveau Samouraï", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Force)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtMartials)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Force)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>

        <td>
            @if (item.Arme != null)
            {
                @Html.DisplayFor(modelItem => item.Arme.Nom)
            }
        </td>

        <td>
            @if (item.ArtMartials != null)
            {
                foreach (var artMartial in item.ArtMartials)
                {
                    @Html.DisplayFor(m => artMartial.Nom) <br />
                }
            }
        </td>

        <td>
            @Html.ActionLink("Modifier", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Détails", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
            @Html.ActionLink("Supprimer", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
    }

</table>
