﻿@model BO.ArtMartial

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer Art Martial</h2>

<h3>Vous êtes certain de vouloir supprimer ce SamouraÏ ?</h3>

<div>
    @Html.Partial("_ArtMartialDetailsDelete", Model)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
