﻿@model BO.ArtMartial

@{
    ViewBag.Title = "Details";
}

<h2>Details Art Martial</h2>

<div>
    @Html.Partial("_ArtMartialDetailsDelete", Model)
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
